<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Todo App</title>
  </head>
  <body>
    <center class="mt-5">
        <h1>Todo App</h1>
    </center>
    <form method="POST" class="container mt-5 mb-5">
      {% csrf_token %}
        <input type="text" class="form-control" placeholder="Enter Task" name="task">
        <div class="mytime">
          <span class="input-group-text" id="basic-addon1">Start</span>
          <input type="datetime-local" name="start" id="" placeholder="Start" class="time">
          <span class="input-group-text" id="basic-addon1">Finish</span>
          <input type="datetime-local" name="finish" id="" placeholder="Finish" class="time">
        </div>
        <input type="submit" value="Add" class="btn btn-success mybtn">
    </form>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">N</th>
                <th scope="col">Task</th>
                <th scope="col">Start</th>
                <th scope="col">Finish</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
                <th scope="col">Complete(Uncomplete)</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for todo in todos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ todo.task }}</td>
                    <td>{{ todo.start }}</td>
                    <td>{{ todo.finish }}</td>
                    <td>
                        {% if todo.status %}
                        <p>✅ Done</p>
                        {% else %}
                        <p>♾ Working</p>
                        {% endif %}
                    </td>
                    <td>
                        <a href="/update/{{todo.id}}/" class="btn btn-success">Update</a>
                    </td>
                    <td>
                        {% if todo.status %}
                        <a href="/complete/{{todo.id}}/" class="btn btn-primary">Uncomplete</a>
                        {% else %}
                        <a href="/complete/{{todo.id}}/" class="btn btn-primary">Complete</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="/delete/{{todo.id}}/" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        <style>
.mybtn{
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 10px;
}
.time{
    width: 40%;
    margin: 15px;
    height: 35px;
    border-radius: 10px;
}
.mytime{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
        </style>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>